.ag-cell {
  display: flex;
  align-items: center;
}
.ag-cell-editor select {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
}
.ag-cell-editor {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 5px 10px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}